@model IEnumerable<Suivi_Abs.Models.Etudiant>

@{
    ViewData["Title"] = "Index";

}

<h1 style="text-align:center">Etudiants</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Nom Complet
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matricule)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.dateN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lieu_n)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.imageE"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @item.Ncomplet
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.matricule)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.dateN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lieu_n)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adresse)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
               
            </tr>
        }
    </tbody>
</table>
